.gg {

}
body {
    background-image: url(nig.jpg);
    background-size: 1238px 975px;
}
.p {
}
.tab {
    border-color: #A30000;
    border-width: 3px;
}
.put {
    text-align: center;
    border: 3px solid #AA0101;
    font-size: 15px;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.puy {
}
.ima {
    width: 230px;
    height: 150px;

}
.bod {
    top: -2%;
    border: 6px solid #7F191B;
    border-radius: 6px;
}
.body .bod {
}
table {
    margin-left: auto;
    margin-right: auto;
    background-color: #001C57;
}
.tit {
    color: #FFFFFF;
    text-align: center;
}
